
@media screen and (max-width:576px) {
    .Nav-container{
        background-color: gray;
    }
    .nav-left{
        margin-left: 0;
        margin-top: 0;
    }
    #Header-section{
        margin-left: 0;
    }
    .header-container{
        margin-top: 0;
        width: 100%;
    }
    .header-btn{
        margin-top: 20px;
    }



    .ban-img img{
        margin-left: 0;
        width: 100%;
        height: 100px;
    }


    /* features-Section */

    .features-container{
        margin-left: 0;
        display: grid;
        flex-direction: column;
        
    }
    .features-left{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .features-img img{
        width: 400px;
        height: 270px;
    }
    /* features-Section */



    /* love-enjoy-Section */


    .love-enjoy-container{
        margin-left: 0;
        /* margin-top: 1100; */
        display: grid;
        flex-direction: column-reverse;
    }
    .love-btn{
        margin-top: 0;
        background-image: url("/images/architect.png");
    }
    /* love-enjoy-Section */
    
}
















@media only screen and (min-width:1600px) and (max-width:1920px) {
    

    .nav-left {
        margin-top: 50px;
        margin-left: 228px;
    
    }

    .nav-right {
        display: flex;
        margin-top: 63px;
        margin-right: 240px;
    }
    .header-container {
        width: 862px;
        height: 225px;
        margin-left: 529px;
        margin-top: 72px;
        text-align: center;
        border: 2px solid green;
    }
    .header-btn {
        width: 180px;
        height: 64px;
        background: #FF900E;
        border-radius: 8px;
        margin-bottom: 50px;
    
    }
    .header-btn a {
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }
    .ban-img img {

        width: 1440px;
        height: 700px;
        margin-left: 240px;
    }
    
}